:root {
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --accent-purple: #7f56da;
    --secondary-purple: #603cb6;
    --main-color: #ffffff;
    --background-grey: #f3f4f8;
}
html {
    accent-color: var(--accent-purple);
}
* {
    box-sizing: border-box;         /* making all elements content-box box-sized */
    font-family: var(--body-font);
}
body {
    margin: 0px;    /* overriding browser margin on body */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
}
body > * {
    width: 50%;
}


main {
    padding-inline: 2rem;
    padding-block: 2rem;
    background-color: var(--main-color);
}
main > h1, main > form, main > p {
    width: 65%;
    margin-inline: auto;
}
main > h1 {
    font-weight: 600;
    margin-block: 4rem 1rem;
    margin-inline: auto;
}
main > p {
    margin-inline: auto;
    margin-block: 1rem 3rem;
}

form > label, form > input {
    display: block;
    margin-inline: 0px;
    margin-block: 10px 0px;
    width: 100%;
}
form > label {
    font-weight: 600;
    text-transform: capitalize;
}
form > input {
    outline: none;
    border: 2px solid rgb(223, 223, 223);
    font-size: 1rem;
    padding-inline: 15px;
    padding-block: 10px;
    border-radius: 10px;
}
form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-block: 2rem;
    align-items: center;
}
form > div > a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary-purple);
}
form > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}
form > div > div > input[type="checkbox"] {
    width: 17px;
    height: 17px;
}
form > div > div > label {
    text-transform: capitalize;
    font-size: 0.9rem;
}
form > input[type="submit"] {
    border: none;
    background-color: var(--accent-purple);
    color: var(--main-color);
    margin-block: 0rem 5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}
form > span {
    display: block;
    text-align: center;
    text-transform: capitalize;
}
form > span > a {
    text-decoration: none;
    color: var(--secondary-purple);
}




aside {
    background-color: var(--background-grey);
    position: relative;
    top: 0;
    overflow: hidden;
}
aside > div#circle {
    width: clamp( 50px, 30%, 200px );
    height: clamp( 50px, 30%, 200px );
    background-color: var(--secondary-purple);
    border-radius: 50%;
    transform: translate( -50%, -80% );
    position: absolute;
    left: 50%;
    top: 50%;
}
aside > div#glass {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    flex-grow: 0.8;
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: 0;
}