:root {
    --body-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --accent-purple: #7f56da;
    --secondary-purple: #603cb6;
    --main-color: #ffffff;
    --background-grey: #f3f4f8;
}
html {
    accent-color: var(--accent-purple);
}
* {
    box-sizing: border-box;         /* making all elements content-box box-sized */
    font-family: var(--body-font);
}
body {
    margin: 0px;    /* overriding browser margin on body */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    block-size: 100vh;
}
body > * {
    inline-size: 50%;
}


main {
    padding-inline: 2rem;
    padding-block: 2rem;
    background-color: var(--main-color);
}
main > h1, main > form, main > p {
    width: 65%;
    margin-inline: auto;
}
main > h1 {
    font-weight: 600;
    margin-block: 4rem 1rem;
    margin-inline: auto;
}
main > p {
    margin-inline: auto;
    margin-block: 1rem 3rem;
}

form > label, form > input {
    display: block;
    margin-inline: 0px;
    margin-block: 0.625rem 0rem;
    inline-size: 100%;
}
form > label {
    font-weight: 600;
    text-transform: capitalize;
}
form > input {
    outline: none;
    border-block: 2px solid rgb(223, 223, 223);
    border-inline: 2px solid rgb(223, 223, 223);
    font-size: 1rem;
    padding-inline: 1rem;
    padding-block: 0.625rem;
    border-radius: 10px;
}
form > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-block: 2rem;
    align-items: center;
}
form > div > a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--secondary-purple);
}
form > div > div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 5px;
}
form > div > div > input[type="checkbox"] {
    inline-size: 1.0625rem;
    block-size: 1.0625rem;
}
form > div > div > label {
    text-transform: capitalize;
    font-size: 0.9rem;
}
form > input[type="submit"] {
    border-block: none;
    border-inline: none;
    background-color: var(--accent-purple);
    color: var(--main-color);
    margin-block: 0rem 5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-weight: 600;
}
form > span {
    display: block;
    text-align: center;
    text-transform: capitalize;
}
form > span > a {
    text-decoration: none;
    color: var(--secondary-purple);
}

/* 
    adding micro-interations( hover, focus, focus-visible 
    for the inputs, submit button and the all the links on the page
*/
form > input:focus, form > input:focus-visible {
    border-inline: 2px solid rgb(177, 176, 176);
    border-block: 2px solid rgb(177, 176, 176);
}
form > input[type="submit"]:hover, form > input[type="submit"]:focus-visible {
    background-color: var(--secondary-purple);
    border-inline: none;
    border-block: none;
}
a {
    position: relative;
    top: 0;
}
a::before {
    position: absolute;
    left: 0;
    bottom: -4px;
    inline-size: 100%;
    block-size: 2px;
    content: "";
    background-color: var(--secondary-purple);
    transition: 0.2s;
    transform: scaleX(0);
}
a:hover::before, a:focus::before, a:focus-visible::before {
    transform: scaleX(1);
}



aside {
    background-color: var(--background-grey);
    position: relative;
    top: 0;
    overflow: hidden;
}
aside > div#circle {
    inline-size: clamp( 50px, 30%, 200px );
    block-size: clamp( 50px, 30%, 200px );
    background-color: var(--secondary-purple);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate( -50%, -80% ) scale(1);
    animation: enlarge 1.2s linear 1;
}
aside > div#glass {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(8px);
    flex-grow: 0.8;
    inline-size: 100%;
    block-size: 60%;
    position: absolute;
    bottom: 0;
    animation: grow 1s linear 1s 1 backwards;
}


/* adding the motion animations on the glass overlay and the decorative purple ball */
@keyframes enlarge {
    from {
        transform: translate( -50%, -80% ) scale(0);
    }

    to {
        transform: translate( -50%, -80% ) scale(1);
    }
}

@keyframes grow {
    from {
        block-size: 0%;
    }

    to {
        block-size: 60%;
    }
}



/* adding responsiveness using some breakpoints */

/* 
    breakpoints to ensure accessiblity such as when user prefers no animations/reduced motion or the 
    any of the devices pointing devices can't hover
 */
@media ( any-hover: none ) {
    a::before, form > input[type="submit"] {
        transition: none;
    }
}
@media ( prefers-reduced-motion: reduce ) or ( update: slow ) {
    aside > div#circle, aside > div#glass {
        animation: none;
    }
    
    a::before {
        transition: none;
    }
}


/* breakpoint for big tablets */
@media screen and ( max-width: 75rem ) {
    main {
        padding-inline: 1rem;
        padding-block: 1rem;
    }
    main > h1, main > form, main > p {
        width: 70%;
        margin-inline: auto;
    }
    form > input[type="submit"] {
        margin-block: 0rem 2rem;
    }

    aside > div#circle {
        inline-size: clamp( 40px, 50%, 150px );
        block-size: clamp( 40px, 50%, 150px );
    }
    @keyframes enlarge {
        from {
            transform: translate( -50%, -90% ) scale(0);
        }
    
        to {
            transform: translate( -50%, -90% ) scale(1);
        }
    }
}


/* breakpoint for small tablets */
@media screen and ( max-width: 56.25rem ) {
    body {
        block-size: 100vh;
    }

    main {
        padding-inline: 1rem;
        padding-block: 1rem;
    }
    main > h1, main > form, main > p {
        width: 90%;
        margin-inline: auto;
    }
    form > input[type="submit"] {
        margin-block: 0rem 2rem;
    }

    aside > div#circle {
        inline-size: clamp( 40px, 50%, 150px );
        block-size: clamp( 40px, 50%, 150px );
    }
    @keyframes enlarge {
        from {
            transform: translate( -50%, -90% ) scale(0);
        }
    
        to {
            transform: translate( -50%, -90% ) scale(1);
        }
    }
}


/* breakpoint for mobile */
@media screen and ( max-width: 31.25rem ) {
    body {
        block-size: 100vh;
        flex-direction: column-reverse;
    }

    body > *:nth-child(1) {
        block-size: 80%;
        inline-size: 100%;
    }

    body > *:nth-child(2) {
        block-size: 20%;
        inline-size: 100%;
    }

    aside {
        background-color: var(--main-color);
    }
    aside > div#circle {
        inline-size: clamp( 40px, 30%, 70px );
        block-size: clamp( 40px, 50%, 70px );
    }
    @keyframes enlarge {
        from {
            transform: translate( -50%, -70% ) scale(0);
        }
    
        to {
            transform: translate( -50%, -70% ) scale(1);
        }
    }

    main {
        padding-inline: 1rem;
        padding-block: 1rem;
        overflow: auto;
    }
    main > h1, main > p {
        text-align: center;
    }
    main > h1, main > form, main > p {
        width: 98%;
        margin-inline: auto;
    }
    main > h1 {
        font-weight: 600;
        margin-block: 1rem 1rem;
        margin-inline: auto;
    }
    main > img {
        display: none;
    }
    form > input[type="submit"] {
        margin-block: 0rem 2rem;
    }
}